body{
    padding-top: 20px;
}

                /*---------------Partie gauche-------------------*/
.container .gauche{
    background-color: rgba(35, 35, 248, 0.8);
}
.container .gauche .image img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.container .gauche h3{
    color: white;
    font-weight: 600;
    margin-top: 15px;
}
.container .gauche hr{
    height: 2px;
}
.container .gauche h5{
    color: rgba(203, 203, 240,0.9);
}
.container .gauche p{
    color: rgba(255, 253, 253, 0.8);
}
.container .gauche p span{
    color: rgba(255, 253, 253, 0.5);
    font-size: 13px;
}


                /*---------------Partie droite-------------------*/
.container .droite{
    background-color: #eee;
}
.container .droite .about, .work, .education, .achievements, .hobbies{
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
}
.container .droite .about, .work, .education, .achievements{
    margin-bottom: 30px;
}
